{
  "semi": false,
  "singleQuote": true,
  "useTabs": false,
  "tabWidth": 2,
  "printWidth": 1200,
  "trailingComma": "none",
  "bracketSpacing": true,
  "arrowParens": "always",
  "quoteProps": "as-needed",
  "proseWrap": "preserve"
}
